/obj/Lab6.csproj.nuget.dgspec.json
/bin/Debug/net8.0-windows/Lab6.deps.json
/bin/Debug/net8.0-windows/Lab6.dll
/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0-windows/apphost.exe
/obj/Debug/net8.0-windows/Lab6.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Lab6.assets.cache
/obj/Debug/net8.0-windows/Lab6.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0-windows/refint/Lab6.dll
/obj/Debug/net8.0-windows/Lab6.dll
/bin/Debug/net8.0-windows/Lab6.exe
/obj/Debug/net8.0-windows/Lab6.g.resources
/obj/Debug/net8.0-windows/Lab6.genruntimeconfig.cache
/bin/Debug/net8.0-windows/Lab6.pdb
/obj/Debug/net8.0-windows/Lab6.pdb
/obj/Debug/net8.0-windows/Lab6_ihc44hxi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/MainWindow.baml
/obj/Debug/net8.0-windows/Lab6_ibfrergn_wpftmp.AssemblyInfoInputs.cache
/obj/project.assets.json
/obj/Debug/net8.0-windows/Lab6_ibfrergn_wpftmp.AssemblyInfo.cs
/obj/project.nuget.cache
/obj/Debug/net8.0-windows/Lab6_b2edrceq_wpftmp.AssemblyInfo.cs
/obj/project.packagespec.json
/obj/Debug/net8.0-windows/Lab6_b2edrceq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/rider.project.restore.info
/obj/Debug/net8.0-windows/Lab6_b2edrceq_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Lab6_ibfrergn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/Lab6_q0boxlzv_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Lab6_ihc44hxi_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/Lab6_ibfrergn_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Lab6_ibfrergn_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/Lab6_MarkupCompile.lref
/bin/Debug/net8.0-windows/Lab6.runtimeconfig.json
/obj/Debug/net8.0-windows/Lab6_ihc44hxi_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Lab6_apcyuaur_wpftmp.AssemblyInfo.cs
/obj/Debug/net8.0-windows/Lab6_apcyuaur_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Lab6_q0boxlzv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/Lab6_ihc44hxi_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Lab6_aovkupr5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/Lab6_apcyuaur_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Lab6_MarkupCompile.cache
/obj/Debug/net8.0-windows/Lab6_q0boxlzv_wpftmp.AssemblyInfo.cs
/obj/Debug/net8.0-windows/Lab6_apcyuaur_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/MainWindow.g.cs
/obj/Debug/net8.0-windows/Lab6_b2edrceq_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Lab6_apcyuaur_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/Lab6_q0boxlzv_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Lab6_aovkupr5_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/Lab6_q0boxlzv_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/Lab6_b2edrceq_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/Lab6_ihc44hxi_wpftmp.AssemblyInfo.cs
/obj/Debug/net8.0-windows/Lab6_aovkupr5_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Lab6_aovkupr5_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Lab6_aovkupr5_wpftmp.AssemblyInfo.cs
/obj/Debug/net8.0-windows/Lab6_4pwrjemn_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/Lab6_4pwrjemn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/Lab6_4pwrjemn_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Lab6_4pwrjemn_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Lab6_4pwrjemn_wpftmp.AssemblyInfo.cs
